* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html {
	box-sizing: border-box;
}


select {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;

	font: inherit;
	color: inherit;
}


/*-------------RESET--------------*/
body {
	font-family: "Rubik", sans-serif;
	font-size: 17px;
	line-height: 1.7;
	letter-spacing: -0.03em;
	color: #161C2D;
}

.container {
	padding: 0 20px;
	max-width: 1230px;
	margin: 0 auto;
}

.main__btn {
	background-color: #473BF0;
	color: #fff;
	padding: 14px 30px;
	border-radius: 8px;

	font-weight: 700;
	line-height: 188%;


	transition: background-color 0.25s ease,
		color 0.25s ease,
		transform 0.25s ease,
		box-shadow 0.25s ease;
}

.main__btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.15);
}

.main__btn:active {
	transform: translateY(0) scale(0.97);
	/* трохи зменшуємо кнопку */
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	/* тінь менша */
}

.subtitle {
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #f64b4b;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 142%;
	letter-spacing: -0.02em;
	margin-bottom: 15px;
}

/*----------------------------header------------------------*/
.header {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header__inner {
	gap: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	display: flex;
	gap: 50px;
}

.menu__item {
	font-weight: 700;
	font-size: 15px;
}

.header__btn {
	margin-left: auto;
}



/*-------------------------hero----------------------*/

.hero {
	min-height: 800px;
	background: url(../img/hero-bg.png) center/cover no-repeat;
	display: flex;
	align-items: center;
}

.hero__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	gap: 100px;
	padding: 0 20px;
}

.hero-text__box {
	display: flex;
	flex-direction: column;
	max-width: 540px;
	text-align: left;
	gap: 25px;
}

.hero__img {
	margin-top: 50px;
}


.hero__title {
	font-weight: 700;
	font-size: 57px;
	line-height: 108%;
	letter-spacing: -0.03em;

}

.hero__text {
	opacity: 0.7;
	font-size: 19px;
	line-height: 168%;
	letter-spacing: -0.01em;
	margin-bottom: 10px;
}

.hero__btn {
	padding: 14px 26px;
	max-width: 220px;
}

/*----------------services-------------*/
.services {
	margin-top: 120px;
	padding-bottom: 120px;

}

.services__inner {
	display: flex;
	flex-direction: column;
	gap: 80px;
	border-bottom: 1px #E7E9ED solid;
	padding-bottom: 120px;
}

.services__top {
	margin: 0 auto;
	text-align: center;
	max-width: 590px;
	width: 100%;
}

.services__top-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 133%;
}

.card-green {
	background-color: #68D585;
}

.card-blue {
	background-color: #473BF0;
}

.card-red {
	background-color: #F64B4B;
}

.services__subtitle {
	margin-bottom: 20px;
}

.services__btn-box {
	display: flex;
	align-items: center;
	margin: 0 auto;
	gap: 10px;
	transition: transform 0.2s ease;
}

.services__card:hover .services__btn-box {
	transform: translateX(5px);
}



.services__cards {
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	gap: 30px;
	margin-bottom: 70px;

}

.services__cards-wrap {
	position: relative;
	z-index: 1;
}

.services__decor {
	position: absolute;
	bottom: 4%;
	right: -1%;
	pointer-events: none;
	z-index: -1;
}

.services__card-img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.services__card-img__green {
	max-width: 120px;
}

.services__card-img__blue {
	max-width: 150px;
}

.services__card-img__red {
	max-width: 120px;
}

.services__card {
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	padding: 60px 28px 40px 26px;
	max-width: 350px;
	border-radius: 10px;
	transition:
		transform 0.25s ease,
		box-shadow 0.25s ease;
}

.services__card:hover {
	transform: translateY(-10px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.services__text {
	margin-bottom: 40px;
	opacity: 0.65;
}

.services__btn {
	font-weight: 700;
	line-height: 188%;
}

.services__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 142%;
	margin-bottom: 15px;
}

.services__decor img {
	display: block;
	max-width: 100%;
	height: auto;
}

.reviews {
	display: flex;
	gap: 80px;
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
}

.reviews__box {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.reviews__text {
	font-weight: 700;
	font-size: 24px;
	line-height: 142%;
}

.reviews__auther-info {
	display: flex;
	gap: 20px;
	line-height: 171%;
}

.reviews__name {
	font-weight: 700;
	font-size: 17px;
}

.reviews__work {
	font-weight: 400;
	font-size: 17px;
	opacity: 0.7;
}



/*----------------about-------------*/
.about {
	padding-bottom: 115px;
}

.about__inner {
	display: flex;
	flex-direction: column;
	gap: 130px
}

.about__top {
	max-width: 515px;
	width: 100%;
}

.about__subtitle {
	margin-bottom: 40px;
}


.img__decor {
	position: relative;

}

.about__bottom {
	display: flex;
	gap: 95px;
	margin-bottom: 120px;
}



.about__info {
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin-top: -70px;
}

.about__img-wrapper {
	display: flex;
	gap: 90px;
}

.about__info-images {
	position: relative;
}

.about__img-secondary {
	margin-top: 110px;
}

.about__decor {
	position: absolute;
	right: -15%;
	top: -14%;
}

.about__text {
	font-size: 17px;
	line-height: 171%;
	opacity: 0.7;
	max-width: 490px;
	width: 100%;
}

.statistics {
	display: flex;
	gap: 66px;
}

.statistics-item {
	text-align: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	gap: 18px;
}

.statistics-numder {
	font-weight: 700;
	font-size: 48px;
	line-height: 121%;
	letter-spacing: -0.04em;
}

.statistics-text {
	font-size: 19px;
	line-height: 168%;
	letter-spacing: -0.01em;
	opacity: 0.7;
}


/*----------------courses-------------*/
.courses {
	padding-top: 120px;
	background-color: #f4f7fa;
}

.courses__inner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 100px;
}

.courses__top {
	display: flex;
	flex-direction: column;
	gap: 23px;
	text-align: center;
	margin: 0 auto;
	max-width: 520px;
	width: 100%;
}


.courses__info {
	padding-bottom: 120px;
	border-bottom: 1px #E7E9ED solid;
}

.courses__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.courses__item {
	display: flex;
	max-width: 410px;
	width: 100%;
	gap: 30px;
}

.courses__img {
	max-width: 80px;
	width: 100%;
	height: auto;
}

.courses__item-box {
	display: flex;
	flex-direction: column;
	gap: 15px;
}



.courses__item-text {
	font-size: 17px;
}

.text {
	line-height: 171%;
	letter-spacing: -0.01em;
	opacity: 0.7;
}

.courses__bottom {
	padding-bottom: 90px;

}

.next-project__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 152%;
	letter-spacing: -0.02em;
}

.next-project {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.next-project__box {
	display: flex;
	gap: 20px;
	flex-direction: column;
	max-width: 590px;
	width: 100%;
}

.courses__bottom-text {
	font-size: 19px;
}

.courses__bottom-title {
	line-height: 138%;
	letter-spacing: -0.04em;
}


/*----------------works-------------*/

.works {
	padding-bottom: 115px;
}

.works__inner {
	display: flex;
	flex-direction: column;
	padding-top: 125px;
	gap: 90px;
}

.works__top {
	text-align: center;
	margin: 0 auto;
	max-width: 520px;
	width: 100%;
}

.works__subtitle {
	margin-bottom: 15px;
}





.works__cards-box {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 540px));
	justify-content: center;
	gap: 40px;
}



.works__card {
	display: block;
	margin: 0 auto;
	max-width: 540px;
	width: 100%;
}

.works__card-offset {
	transform: translateY(-180px);
}

.works__card-img {
	margin-bottom: 35px;
}

.works__card-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 173%;
	opacity: 0.7;
}

.works__card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 142%
}

.works__btn-box {
	text-align: center;
	margin-top: -100px;
}

.works__btn {
	justify-content: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding-bottom: 6px;
	font-weight: 700;
	font-size: 21px;
	line-height: 152%;
	color: #473BF0;

}

.works__btn::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}


.works__btn:hover::after {
	transform: scaleX(1);
}

/*----------------testimonial-------------*/




.testimonial {
	padding: 130px 0;
	background: url(../img/testimonial-bg.png) center / cover no-repeat;
}

.testimonial__box {
	display: flex;
	flex-direction: column;
	color: #fff;
	gap: 43px;
	text-align: center;
}

.testimonial__top {
	display: flex;
	flex-direction: column;
	max-width: 655px;
	width: 100%;
	gap: 35px;
	margin: 0 auto;
}

.testimonial__subtitle {
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #68D585;
}

.testimonial__text {
	font-weight: 700;
	font-size: 32px;
	line-height: 138%;
}

.testimonial__bottom {
	display: flex;
	flex-direction: column;
	gap: 17px;
}


.testimonial__name {
	font-weight: 700;
	font-size: 17px;
	line-height: 171%;
}

.testimonial__work {
	font-size: 15px;
	opacity: 0.65;
	letter-spacing: -0.01em;
}

/*----------------footer-------------*/

.footer {
	padding-top: 90px;
	background-color: #161C2D;
}



.footer__inner {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.footer__top {
	padding-bottom: 80px;
	border-bottom: 1px #272B39 solid;
}


.footer__bottom-info__text {
	font-size: 15px;
	line-height: 173%;
	opacity: 0.65;
	max-width: 275px;
	width: 100%;
}


.footer__bottom {
	gap: 20px;
	margin-top: 120px;
	padding-bottom: 150px;
	display: flex;
	justify-content: space-between;
}

.footer__bottom-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.footer__bottom-social {
	display: flex;
	gap: 40px;
}

.footer__bottom-box {
	display: flex;
	gap: 100px;
}

.footer__bottom-column {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.01em;
}

.footer__bottom-title {
	line-height: 173%;
	opacity: 0.65;
	margin-bottom: 10px;
}

.footer__bottom-item {
	font-size: 17px;
	line-height: 235%;
	margin-bottom: 10px;
}


/*----------------burger menu-------------*/

.menu__btn {
	display: none;
	width: 50px;
	height: 30px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	position: relative;
	z-index: 1;
}

.menu__btn span {
	width: 100%;
	height: 4px;
	background-color: #473BF0;
	transition: background-color .3s;
}

.menu.menu--open .menu__list {
	top: -0%;
}

.menu.menu--open .menu__btn span {
	background-color: #473BF0;
}


/*----------------@media(max-width:---px)----------------*/


@media(max-width:1080px) {
	.works__cards-box {
		grid-template-columns: repeat(1, minmax(0, 540px));
	}

	.works__card-offset {
		transform: none;
	}

	.works__btn-box {
		margin-top: 70px;
	}
}

@media(max-width:1024px) {
	.hero__inner {
		flex-direction: column;
		margin-bottom: 100px;
	}

	.services__cards {
		margin-bottom: 0;
	}

	.hero-text__box {
		order: 2;
	}

	.hero__img {
		margin-top: 120px;
	}

	.reviews {
		flex-direction: column;
		align-items: center;
		gap: 40px;
		text-align: center;
	}

	.reviews__auther-info {
		display: block;
	}

	.about__bottom {
		flex-direction: column;
		margin-bottom: 0;
	}

	.about__info {
		margin-top: 0;
	}

	.about__img {
		display: none;
	}

	.about__inner {
		gap: 100px;
		align-items: center;
	}

	.next-project {
		flex-direction: column;
		gap: 30px;
		text-align: center;
	}

	.footer__bottom {
		margin-top: 120px;
		padding-bottom: 150px;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	.footer__bottom-info {
		order: 1;
	}
}

@media(max-width:900px) {
	.menu__btn {
		display: flex;
		z-index: 3;
	}

	.menu__list {
		position: fixed;
		top: -120%;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		color: #000;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-transform: uppercase;
		font-size: 24px;
		transition: top 0.4s ease;
		z-index: 2;
	}

	.logo {
		margin-left: auto;
		order: 2;
	}

	.menu {
		order: 1;
	}

	.header__btn {
		order: 3;
	}
}

@media(max-width:768px) {
	.hero-text__box {
		align-items: center;
		text-align: center;
	}

	.hero__title {
		font-size: 44px;
		line-height: 1.15;
	}

	.services__top-title,
	.about__title,
	.title {
		font-size: 28px;
		line-height: 1.3;
	}

	.reviews__text {
		font-size: 20px;
	}

	.main__btn {
		padding: 12px 20px;
	}

	.hero__btn,
	.courses__btn,
	.footer__top-btn {
		width: 100%;
		max-width: 320px;
	}

	.services__inner,
	.courses__inner {
		gap: 40px;
	}

	.about__inner,
	.works__inner {
		gap: 60px;
	}

	.statistics {
		max-width: 320px;
		flex-direction: column;
		gap: 40px;
	}

	.courses__bottom {
		padding-bottom: 50px;
	}

	.courses__info {
		padding-bottom: 100px;
	}

	.works__card {
		padding-bottom: 15px;
		text-align: center;
		border-radius: 8px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
	}

	.testimonial__text {
		font-size: 28px;
	}

	.footer__bottom-column {
		max-width: 150px;
		width: 100%;
	}

	.footer__bottom-box {
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}
}

@media(max-width:600px) {
	.works__card-img {
		width: 100%;
		max-width: 100%;
		height: auto;
		display: block;
	}

	.works__cards-box {
		grid-template-columns: 1fr;
	}

	.about__img-wrapper {
		display: flex;
		gap: 90px;
		margin: 0 auto;
	}

	.about__img-secondary {
		display: none;
	}

	.header__btn {
		display: none;
	}
}

@media(max-width:560px) {
	.hero__img {
		width: 100%;
		max-width: 100%;
		height: auto;
		display: block
	}

	.hero__inner {
		gap: 50px;
	}
}


@media(max-width:480px) {
	body {
		font-size: 15px;
		line-height: 1.6;
	}

	.text,
	.hero__text,
	.services__text,
	.about__text,
	.courses__item-text {
		font-size: 15px;
	}

	.subtitle {
		font-size: 11px;
		letter-spacing: 0.12em;
	}

	.hero,
	.services,
	.about,
	.courses,
	.works,
	.testimonial {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.container {
		padding: 0 16px;
	}
}